
  body {
    color: rgb(165, 104, 223);
    background-color: rgb(165, 104, 223, 0.8); 
    font-family: helvetica;
    margin: 0 auto;
    width: 700px;
    padding: 10px;
  }

  input[type=text], select {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    color: 999;
  }  
  
  h1 {
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px rgb(0,0,0,0.4);
  }
  
  legend {
    color: whitesmoke;
    background-color: rgb(165, 104, 223, 0.8);
    border: 1px solid #ccc;
    font-size: 22px;
  }

  fieldset {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.3);
  }
 
  input[type=submit], input[type=reset] {
    background-color: #2acf98;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    align-items: center;
    cursor: pointer;
  }

  button[type=button] {
    background-color: rgb(255, 162, 22);
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: whitesmoke;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  img {
    width: 33%;
    height: auto;
    float: left; 
    max-width: 200px;
  }



